*{
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#navegador {
    background-color:black;;
    text-align: center;
    font-weight: bold;
    height: 35px;
   
}

#navegador a {
    /*nao funciona*/
    padding-top: 2px;
}

#esquerda {
    background-image: url("../img/bcgimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.flex-container-e {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    align-content: flex-end;
    flex-wrap: wrap;
}

#logo {
    
}

#navegador2 {
    background-color: #000;;
    text-align: center;
    font-weight: bold;
    height: 36px;   
}

/* Fazer responsividade */
@media (max-width: 600px){

      #textoprincipal{
       display: none;
    }
    
    #esquerda {

        display: none;
        /* background-image: url("../img/bcgimg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: cadetblue;
        width: 600px;
        height: 400px; */
    }

    #parte2 {
        display: none;
    }  
   
}


#textoprincipal{
    font-size: 45px;
    /* align-content: end;  */
    width: 500px;
    height: 200px;
    margin-right: 10px;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 50px;
    margin-left: 90px;
    padding: 0;
}
/* 
#textoprincipal h1 {
    color: #FFFFFF;
    font-weight: bold;
} */

#direita {
    /* margin-top: 20px; */
    background-color: #A50439;
    height: 100vh;
    margin-top: 0;
}

.flex-container-d {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imagemebook {
    width: 131.5px;
    height: 181.5px;
    margin-top: 10px;
    background-image: url("../img/capalivro.png");
    margin-top: 40px;
}

#conteudo {
    color: #FFFFFF;
}

#conteudo h6 {
    padding-top: 10px;
}

#texto{
    text-align: center;
    font-size: 13px;
   
}

#baixe {
    font-weight: bold;
    padding-top: 15px;
    font-size: 18px;
    color: white;
}

p {
    font-size: 13px;
    color: #FFFFFF;
    padding-top: 20px;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nome{
 margin-bottom: 5px;
}

.correio{
    margin-bottom: 5px;
    
}

.botao{
    background-color: #F5B959;
    border-radius: 20px;
    margin-top: 20px;
    width: 100px;
}

.congratulation {
    text-align: center;
    max-width: 90%;
  }
  

/* pagina 2 */

.flex-container-a {
    display: flex;
    /* flex-direction: column-reverse; */
    flex-wrap:wrap;
 }
 
#logo2 {
    padding-top: 10px;
}

 #parte2 {
     background-image: url("../img/bcgimg2.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     height: 655px;
     width: 900px;
 }
 
 #frasefinal{
     font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-weight: bold;
 }
 
 #frase1{
     font-size: 45px;
     color: #ffffff;
     padding-left: 120px;
     font-weight: bold;
     display: flex;
     flex-direction: column-reverse;
     margin-right: 80px;
     margin-top:100px;
     text-align: left;
     
     
 }
 
 #frase2{
     font-size: 28px;
     color: #f5b959;
     display: flex;
     flex-direction: column-reverse;
     margin-left: 120px;
     text-align: left;
     margin-bottom: 30px;

 }

 #agradecimento {
    background-color: #000;
 }
 
 .botao2{
    justify-content: center;
    padding: 2px;
    max-width: 30%;
    width: 200px;
    margin-left: 120px;
    margin-bottom: 100px;
    margin-right: 100px; 
 }

 #modal{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 300px;
    height: 280px;
    padding: 15px;
    display: none;
}

 