*{
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#navegador {
    background-color: #C4C4C4;;
    text-align: center;
    font-weight: bold;
    height: 35px;
   
}

#esquerda {
    background-image: url("../img/bcgimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: cadetblue;
    width: 100%;
    height: 570px;
}

.flex-container-e {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    align-content: flex-end;
    flex-wrap: wrap;
}
/* Fazer responsividade */
@media (max-width: 600px){

      #textoprincipal{
       display: none;
    }
    
    #esquerda {
        background-image: url("../img/bcgimg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: cadetblue;
        width: 600px;
        height: 400px;
    }

    #agradecimento {
     background-image: none;
     background-repeat: no-repeat;
     background-size: cover;
     background-color: cadetblue;
     width: 100%;
     height: 100vh;
     width: 100vm;
    }

    #body2{
        background-color: black;
    }
    
   
   

}



#textoprincipal{
    font-size: 45px;
    /* align-content: end;  */
    width: 500px;
    height: 200px;
    margin-right: 10px;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 50px;
    margin-left: 90px;
    padding: 0;
}
/* 
#textoprincipal h1 {
    color: #FFFFFF;
    font-weight: bold;
} */

#direita {
    /* margin-top: 20px; */
    background-color: #A50439;
    height: 570px;
   
}

.flex-container-d {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imagemebook {
    width: 131.5px;
    height: 181.5px;
    background: #C4C4C4;
    margin-top: 10px;
    background-image: url("../img/capalivro.png");
    margin-top: 20px;
}

#conteudo {
    color: #FFFFFF;
}

#conteudo h6 {
    padding-top: 10px;
}

#texto{
    text-align: center;
    font-size: 13px;
   
}

#baixe {
    font-weight: bold;
    padding-top: 15px;
    font-size: 18px;
}

p {
    font-size: 13px;
    color: #FFFFFF;
    padding-top: 20px;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nome{
 margin-bottom: 5px;
}

.correio{
    margin-bottom: 5px;
    
}

.botao{
    background-color: #F5B959;
    border-radius: 20px;
    margin-top: 20px;
    width: 100px;
}

.congratulation {
    text-align: center;
    max-width: 90%;
  }
  

/* pagina 2 */
 

#body2{
    
}


.flex-container-a {
     display: flex;
     flex-direction: column-reverse;
     flex-wrap: wrap;
 }
 
 #agradecimento {
     background-image: url("../img/bcgimg2.jpeg");
     background-repeat: no-repeat;
     background-size: cover;
     background-color: cadetblue;
     width: 100%;
     height: 100vh;
     width: 100vm;
 }
 
 #frasefinal{
     font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-weight: bold;
 }
 
 #frasefinal h2{
     font-size: 40px;
     color: #ffffff;
     padding-left: 100px;
     font-weight: bold;
     margin-right: 100px;
 }
 
 #frasefinal h3{
     font-size: 28px;
     color: #f5b959;
     display: flex;
     flex-direction: column;
     margin-left: 100px;

 }
 
 .botao2{
     justify-content: center;
     padding: 2px;
     max-width: 30%;
     width: 200px;
     margin-left: 100px;
     margin-bottom: 100px;
     margin-right: 100px;
 ;
 
 }